#pp{width: 100%;height: 45px;line-height: 45px;background-color: #f9f9f9;}
#pp p{margin-left: 85px;}
#pp p span{width: 1200px;height: 100%;font-size: 12px;color: #666;}

#page{height: 450px;display: flex;justify-content: center;}
.sbox{width: 400px;height: 300px;position: absolute;top: 190px;left: 74px;overflow: hidden;}
.sbox img{width: 400px;height: 300px;}
.sbox span{width: 133px;height: 100px;position: absolute;background: rgba(200,200,200,0.6);left: 0;top: 0;display: none;}
.sbox p{position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: 0;z-index: 9;}			
.bbox{width: 606px;height: 410px;position: absolute;top: 190px;left: 474px;overflow: hidden;display: none;z-index: 9;}
.bbox img{width: 1200px;height: 900px;position: absolute;}
.bbox img:nth-child(1){z-index: 1;}		
.cont{width: 400px;height: 100px;position: absolute;top: 500px;left: 73px;/* overflow: hidden; */}
.imgbox{width: 402px;height: 100px;}
.cont img{width: 80px;height: 100px;margin: 0 8px;}

#page .page-c{width: 580px;height: 410px;position: absolute;left: 500px;top: 190px;}
#page .page-c h2{font-size: 22px;}
#page .page-c p.teep{margin: 26px 0;color: #46A77B;font-size: 14px;}
#page .page-c .boox{width: 580px;height: 136px;background: #F3F3F3;}
#page .page-c .boox p.teeep{padding-top: 18px;font-size: 12px;}
#page .page-c .boox p{margin: 26px 16px;color: #A19E9C;}
#page .page-c .boox p i{float: right;}
#page .page-c .boox p em{font-size:18px ;color: #2C9B69;}
#page .page-c .boox p i.tei{font-size:18px ;color: #2C9B69;}
#page .page-c .boox p img{margin: 0 16px;}
#page .page-c .pingfen{margin-top: 14px;color: #A19E9C;}
#page .page-c .pingfen .tsp{margin: 0 66px;}
#page .page-c .peison{color: #A19E9C;margin-top: 16px;}
#page .page-c .peison i{width: 156px;height: 30px;border: 1px solid #ccc;display: inline-block;text-align: center;line-height: 30px;}
#page .page-c .guige{color: #A19E9C;margin-top: 16px;}
#page .page-c .guige i{width: 95px;height: 28px;border: 1px solid #2C9C69;display: inline-block;text-align: center;line-height: 28px;margin-left: 12px;}
#page .page-c .number{width: 88px;display: inline-block;height: 46px;margin: 12px 0 0 46px;z-index: 6;}
#page .page-c .number .txt{float:left;width:46px;height: 36px;border: 1px solid #a7a6ac;margin-right: 12px;text-align: center;}
#page .page-c .number .btn1{width:18px;height: 14px;border: 1px solid #a7a6ac;margin-bottom: 9px;background: url(../bokimages/t7.png) no-repeat center;}
#page .page-c .number .btn2{width:18px;height: 14px;border: 1px solid #a7a6ac;background: url(../bokimages/t6.png) no-repeat center;}
#page .page-c span.tepp{line-height: 30px;font-size: 14px;color: #A19E9C;}
#page .page-c p.tp{display: inline-block;margin-left: 62px;cursor:pointer;}

#page .page-r{width: 160px;height:410px ;border: 1px solid #ccc;position: absolute;right: 77px;top: 190px;}
#page .page-r .tp{background: #FCFCFC;border-bottom: 1px solid #ccc;height: 40px;line-height: 40px;padding-left: 12px;}
#page .page-r .imgs{text-align: center;margin-top: 16px;}
#page .page-r .imgs img{width: 120px;height: 140px;}
#page .page-r .imgs p{margin-top: 10px;}






